<form id="new-comment-form">
  <label for="comment-body">write your comment here:</label>
  <input class="form-input" type="textarea" id="comment-body" name="comment-body" />
  <button type="submit">post it</button>
</form>